<center>
  <% if current_user %>
  <h1>Welcome <%= current_user.email %> </h1>
  <% else %>
   redirect_to(:root_path)
  <% end %> <br /> <br />
</center>

<a name="services"></a>
  <div class="content-section-a">

      <div class="container">
        <h2 class="section-heading">On going Tests: </h2>
          <div class="row">
              <div class="col-lg-5 col-sm-6">
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <h2 class="section-heading">AF-Radio UX Test from Now Till 15th February</h2>
                  <p class="lead">Be one of the lucky ones to have this great opportunity to test this great product. Read the instructions
                    <strong> <a href="http://bit.ly/afradiotest">here</a></strong> and click <Strong><a href="http://join.deathtothestockphoto.com/">here</a></strong> to begin</p>
              </div>
              <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                  <img class="img-responsive" src="<%= asset_path( 'Af-Radio.jpg' ) %>" alt="">
              </div>
          </div>

      </div>
      <!-- /.container -->

  </div>
  <!-- /.content-section-a -->
