<!-- <center>
  <% if current_user %>
  <h1>Welcome <%= get_name %> </h1>
  <% else %>
   redirect_to(:root_path)
  <% end %> <br /> <br />
</center> -->

<br /><br />
<!-- nav bar -->
<!-- <%= controller_name %> -->
<div class="full" >
<%= render 'sidebar' %>

    <div class="col-sm-9 ">

               <div class="bs-callout bs-callout-danger full">

                  <h2> How Truetesta works</h2>
                  <h3>
                    Check out this video
                  </h3>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/afBom6NJszo" frameborder="0" allowfullscreen></iframe>

               </div>


            </div>
</div>


        <!-- resume -->

  <!-- /.content-section-a -->
