<br /><br />

<html>
<style>
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,.signupbtn {float:left;width:20%}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    color: #000;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/*.btn_size{
  width: 30%;
}*/

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}
</style>
<body>

<h2>Modal Signup Form</h2>

<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Sign Up</button>

<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
  <form class="modal-content animate" action="">
    <div class="container">

      <label><b>Company Name</b></label><br />
      <input id="company_name" type="text" placeholder="Company Name Here: " name="company_name" required><br />

      <label><b>Company Location</b></label><br />
      <input id="company_location" type="text" placeholder="Where Is The Company Located?" name="location" required ><br />

      <label><b>Email</b></label><br />
      <input id="company_email" type="text" placeholder="Email here " name="location" required ><br />

      <label><b>Company Type</b></label><br />
      <input id="company_type" type="text" placeholder="Which Industry Are You In?" name="psw-repeat" required><br />

      <label><b>How Many Years Have You Been In Operation?</b></label><br />
      <input id="company_age" type="text" placeholder="Years Of Operation?" name="email" required><br />

      <label><b>Password</b></label><br />
      <input id="company_password" type="password" placeholder="Enter Password" name="psw" required ><br />

      <label><b>Repeat Password</b></label><br />
      <input id="company_repeat_type" type="password" placeholder="Repeat Password" name="psw-repeat" required><br />

      <label><b>Tell us a little about your company</b></label><br />
      <input id="company_bio" type="text" placeholder="Tell Us  A Little About Your Company" name="email" required><br />

      <input type="checkbox" checked="checked"> Remember me <br />
      <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>

      

      <div class="clearfix">
        <button id="company_cancel" type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        <button id="company_signup3" type="submit" class="signupbtn btn_size">Sign Up</button>
      </div>
      

    </div>
     <input class="btn btn-primary" id="company_signup" type="button" value="Sign Up"></input>
  </form>
  
</div>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

</body>
</html>
