
<br /><br />


<%= render 'userdash/sidebar' %>


<div class="bs-callout bs-callout-danger well_our_two">

   <div class="row">
       <div class="col-lg-5 col-sm-6">
          <h2><a id="on_going_tester">On Going Test(s)</a></h2>
           <hr class="section-heading-spacer">
           <div class="clearfix"></div>
           <h4 class="section-heading">AF-Radio UX Test Running From Now Till 20th February</h4>
           <p class="lead">Be one of the lucky ones to have this great opportunity to test this great product. Read the instructions
             <strong> <a href="http://bit.ly/afradiotest">here</a></strong> and click <Strong><a href="http://join.deathtothestockphoto.com/">here</a></strong> to begin</p>

       </div>
       <div class="col-lg-5 col-lg-offset-2 col-sm-6">
           <img class="img-responsive" src="<%= asset_path( 'Af-Radio.jpg' ) %>" alt="">
       </div>
   </div>
</div>
