<br /> <br />
<%= render 'userdash/sidebar' %>


<div class="bs-callout bs-callout-danger well_our_two">
<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-5 ">

      <h1>Experiences#new</h1>
      <p>Find me in app/views/experiences/new.html.erb</p>

    </div>
  </div>
</div>
</div>
