<br ><br />
<div class="full">
  <h1>Companies#profile</h1>
  <p>Find me in app/views/companies/profile.html.erb</p>

  <%= link_to "Logout",       destroy_company_session_path, :method => :delete %>
</div>
