<br /><br />


<%= render 'userdash/sidebar' %>

<div class="bs-callout bs-callout-danger well_our_two">
   <div class="row">

       <div class="col-lg-5 col-sm-6">
         <h2><a id="up_coming_tests">Up Coming Tests</a></h2>
           <hr class="section-heading-spacer">
           <div class="clearfix"></div>
           <h4 class="section-heading">NextLevel-AirFreshner </h4>
           <p class="lead">Register to test this physical product by clicking on the <strong>Register Here</strong> Botton Below </p>
       </div>
       <div class="col-lg-5 col-lg-offset-2 col-sm-6">
           <img class="img-responsive" src="<%= asset_path( 'airfreshner.jpg' ) %>" alt="">
       </div>
       <div id="yep">
         <a id="json" href=""></a>
       </div>
   </div>
