/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";



.shade_one{
  background-color: #F04d0c
  //F7B543  F04d0c
}

.shade_two{
  // background-color: #FF8C00
  background-color: #F6B84D
}

.shade_three {
  background-color: rgba(255, 82, 13, 0.73);
}

.shade_three_on {
  color: rgba(240, 77, 12, 0.8)
}

.center {

  text-align: center;

}

.white_moon{
  color: white;
}


.shade_one_on{
  color: #F04d0c
  //F7B543  F04d0c
}


.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 200px;
    height: 200px;
    margin-left: 100px;
    position:relative;

}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.card_container {
    padding: 2px 16px;


}
.bottom {

  position: absolute;
  bottom: 0;
}
