/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";



.shade_one{
  background-color: #F04d0c
  //F7B543  F04d0c
}

.shade_two{
  // background-color: #FF8C00
  background-color: #F6B84D
}

.shade_three {
  background-color: rgba(255, 82, 13, 0.73);
}

.shade_three_on {
  color: rgba(240, 77, 12, 0.8)
}

.center {

  text-align: center;

}

.white_moon{
  color: white;
}


.shade_one_on{
  color: #F04d0c
  //F7B543  F04d0c
}
