// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.banner2{
  padding: 100px 0;
  color: #f8f8f8;
  background: url(image_path('banner-bg.jpg')) no-repeat center center;
  background-size: cover;
}

.intro_header2{
  padding-top: 50px;
  /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
  background: url(image_path('logo_nie.png')) no-repeat center center;
  background-size: cover;
}
