
<br /><br />
<%= render 'userdash/sidebar' %>

<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-5 well_our">

      <h1>Community </h1>
      <p>Ask Your Questions and see other Poeple's post</p>

    </div>
  </div>
</div>
