<h1>Tests#edit</h1>
<p>Find me in app/views/tests/edit.html.erb</p>

<div id="wrapper">
    <div id="c1">
      <%= render 'companies/dasher' %>
    </div>
    <div id="c2" class="full">
      <%= render 'test_form' %>
      <!-- <br /><br />
      <h1>Tests#new</h1>
      <p>Find me in app/views/tests/new.html.erb</p>
          <%= render 'test_form' %>
      </div>
    </div> -->
</div>​
