
<div class="container-fluid full">
  <div id="wrapper" >
      <div id="c1">
        <%= render 'companies/dasher' %>
      </div>
      <div id="c2" >
        <%= render 'test_form' %>
      </div>
  </div>​
</div>
